In [2]:
import pandas as pd
import pyodbc
from sqlalchemy import create_engine
import os

In [3]:
data = "IndiaVotes_PC__All_States_2014.csv"
df = pd.read_csv(data)
Party_list = list(df['Party'].unique())
Party_list

['Telangana Rashtra Samithi',
 'Bharatiya Janta Party',
 'Indian National Congress',
 'Communist Party Of India (MARXIST)',
 'All India Trinamool Congress',
 'Telugu Desam',
 'Shiv Sena',
 'Shiromani Akali Dal',
 'Jammu & Kashmir Peoples Democratic Party',
 'All India Anna Dravida Munnetra Kazhagam',
 'Rashtriya Janata Dal',
 'Yuvajana Sramika Rythu Congress Party',
 'Biju Janata Dal',
 'Samajwadi Party',
 'Nationalist Congress Party',
 'All India United Democratic Front',
 'Independent',
 'Pattali Makkal Katchi',
 'Jharkhand Mukti Morcha',
 'Aam Aadmi Party',
 'Lok Jan Shakti Party',
 'Janata Dal (Secular)',
 'Swabhimani Paksha',
 'Indian National Lok Dal',
 'All India Majlis-E-Ittehadul Muslimoon',
 'Rashtriya Lok Samta Party',
 'Revolutionary Socialist Party',
 'Kerala Congress(M)',
 'Indian Union Muslim League',
 'Apna Dal',
 'Naga Peoples Front',
 'Janata Dal (United)',
 'All India N.R. Congress',
 'Sikkim Democratic Front',
 'Communist Party Of India',
 "National People's Party"]

In [27]:
# df.head()
# code = ['BJP', 'INC', 'AIADMK', 'AITC', 'BJD', 'SHS', 'TDP', 'TRS', 'CPI(M)']
df['Code'] = 'default'
# df.head()
df['Code'] = df ['Party']
df['Code'] = df['Code'].map({'Telangana Rashtra Samithi':'TRS',
 'Bharatiya Janta Party':'BJP',
 'Indian National Congress':'INC',
 'Communist Party Of India (MARXIST)':'CPI(M)',
 'All India Trinamool Congress':'AITC',
 'Telugu Desam':'TDP',
 'Shiv Sena':'SHS',
 'Shiromani Akali Dal':'SAD',
 'Jammu & Kashmir Peoples Democratic Party':'PDP',
 'All India Anna Dravida Munnetra Kazhagam':'AIADMK',
 'Rashtriya Janata Dal':'RJD',
 'Yuvajana Sramika Rythu Congress Party':'YSR',
 'Biju Janata Dal':'BJD',
 'Samajwadi Party':'SMP',
 'Nationalist Congress Party':'NCP',
 'All India United Democratic Front':'AIUDF',
 'Independent':'IND',
 'Pattali Makkal Katchi':'PMK',
 'Jharkhand Mukti Morcha':'JMM',
 'Aam Aadmi Party':'AAP',
 'Lok Jan Shakti Party':'LJSP',
 'Janata Dal (Secular)':'JD',
 'Swabhimani Paksha':'SP',
 'Indian National Lok Dal':'INLD',
 'All India Majlis-E-Ittehadul Muslimoon':'AIMEIM',
 'Rashtriya Lok Samta Party':'RLSM',
 'Revolutionary Socialist Party':'RSP',
 'Kerala Congress(M)':'KC(M)',
 'Indian Union Muslim League':'IUML',
 'Apna Dal':'AD',
 'Naga Peoples Front':'NPF',
 'Janata Dal (United)':'JDU',
 'All India N.R. Congress':'AINC',
 'Sikkim Democratic Front':'SDF',
 'Communist Party Of India':'CPI',
 "National People's Party":'NPP'})
# df.head()
df.to_csv('IndianGeneralElectionData.csv')
df.head()

,PC Name,No,Type,State,Winning Candidate,Party,Electors,Votes,Turnout,Margin,Margin %,Code
0,Adilabad,1,ST,Telangana,Godam Nagesh,Telangana Rashtra Samithi,1386233,1045839,75.4 %,171290,16.4%,TRS
1,Agra,18,SC,Uttar Pradesh [2000 Onwards],Dr. Ram Shankar Katheria,Bharatiya Janta Party,1814739,1070400,59.0 %,300263,28.1%,BJP
2,Ahmadnagar,37,GEN,Maharashtra,Gandhi Dilipkumar Mansukhlal,Bharatiya Janta Party,1699408,1062318,62.5 %,209122,19.7%,BJP
3,Ahmedabad East,7,GEN,Gujarat,Paresh Rawal,Bharatiya Janta Party,1601832,985525,61.5 %,326633,33.1%,BJP
4,Ahmedabad West,8,SC,Gujarat,Dr. Kirit P Solanki,Bharatiya Janta Party,1534400,964609,62.9 %,320311,33.2%,BJP

In [28]:
#Create SQL Engine
rds_connection_string = "root:Soms@1411@localhost:3306/IndianGeneralElection2014"
engine = create_engine(f'mysql://{rds_connection_string}')

In [29]:
engine.table_names()

['IndiaVotes_PC_All_States_2014']

In [32]:
df.to_sql(name='IndiaVotes_PC_All_States_2014', con=engine, if_exists='replace', index=False)

In [33]:
pd.read_sql_query('select * from IndiaVotes_PC_All_States_2014', con=engine).head()

,PC Name,No,Type,State,Winning Candidate,Party,Electors,Votes,Turnout,Margin,Margin %,Code
0,Adilabad,1,ST,Telangana,Godam Nagesh,Telangana Rashtra Samithi,1386233,1045839,75.4 %,171290,16.4%,TRS
1,Agra,18,SC,Uttar Pradesh [2000 Onwards],Dr. Ram Shankar Katheria,Bharatiya Janta Party,1814739,1070400,59.0 %,300263,28.1%,BJP
2,Ahmadnagar,37,GEN,Maharashtra,Gandhi Dilipkumar Mansukhlal,Bharatiya Janta Party,1699408,1062318,62.5 %,209122,19.7%,BJP
3,Ahmedabad East,7,GEN,Gujarat,Paresh Rawal,Bharatiya Janta Party,1601832,985525,61.5 %,326633,33.1%,BJP
4,Ahmedabad West,8,SC,Gujarat,Dr. Kirit P Solanki,Bharatiya Janta Party,1534400,964609,62.9 %,320311,33.2%,BJP

In [158]:
from pytrends.request import TrendReq # Pseudo API for Google Trends (https://pypi.org/project/pytrends/)

In [167]:
partysummary = os.path.join('output','PartySummary.csv')
df = pd.read_csv(partysummary)
df.head(9)

,Party,Total Contestants,Won,Second,Third,Party Votes,Valid Votes %,Valid Votes % (Contested),AC Leads,AC Second,AC Third
0,Bharatiya Janta Party,428,282,54,78,171657549,31.3%,40%,1883,550,601
1,Indian National Congress,464,44,224,66,106938242,19.5%,22.6%,550,1748,531
2,All India Anna Dravida Munnetra Kazhagam,40,37,1,2,18115825,3.3%,44.4%,222,16,24
3,All India Trinamool Congress,131,34,3,7,21259681,3.9%,15.4%,215,55,90
4,Biju Janata Dal,21,20,1,0,9491497,1.7%,44.8%,116,26,5
5,Shiv Sena,58,18,2,0,10262982,1.9%,18%,100,19,1
6,Telugu Desam,30,16,8,6,14094545,2.6%,40.5%,104,67,33
7,Telangana Rashtra Samithi,17,11,2,1,6736490,1.2%,34.9%,67,22,17
8,Communist Party Of India (MARXIST),93,9,30,9,17986773,3.3%,18.4%,118,194,69

In [160]:
pytrends = TrendReq(hl='en-US', tz=360)
queries_list = ['BJP', 'Congress', 'AIADMK', 'trinamool congress', 'BJD']
queries_list
pytrends.build_payload(queries_list, timeframe='today 3-m', geo='IN', gprop='news')
Party_group1 = pytrends.interest_over_time()
Party_group1.reset_index(level=0, inplace=True)
Party_group1.head()

        date  BJP  Congress  AIADMK  trinamool congress  BJD  isPartial
0 2019-02-08    8         8       0                   0    0      False
1 2019-02-09   33        14       0                   0    0      False
2 2019-02-10    5         0       0                   0    0      False
3 2019-02-11   25        29       0                   0    0      False
4 2019-02-12   29        13       4                   0    0      False

In [161]:
pytrends = TrendReq(hl='en-US', tz=360)
queries_list = ['shiv sena', 'Telugu desam', 'TRS', 'communist']
queries_list
pytrends.build_payload(queries_list, timeframe='today 3-m', geo='IN', gprop='news')
Party_group2 = pytrends.interest_over_time()
Party_group2.reset_index(level=0, inplace=True)

Party_group2.head()

        date  shiv sena  Telugu desam  TRS  communist  isPartial
0 2019-02-08         21             0    0          0      False
1 2019-02-09          0             0    0          0      False
2 2019-02-10          0             0    0          0      False
3 2019-02-11          0             0    0          0      False
4 2019-02-12          0             0    0          0      False

In [162]:
pytrends = TrendReq(hl='en-US', tz=360)
queries_list = ['Narendra Modi', 'Rahul Gandhi', 'MK Stalin', 'Mamata banerjee', 'Navin Patnaik']
queries_list
pytrends.build_payload(queries_list, timeframe='today 3-m', geo='IN', gprop='news')
Party_Leader1 = pytrends.interest_over_time()
Party_Leader1.reset_index(level=0, inplace=True)

Party_Leader1.head()

,date,Narendra Modi,Rahul Gandhi,MK Stalin,Mamata banerjee,Navin Patnaik,isPartial
0,2019-02-08,9,22,0,9,0,False
1,2019-02-09,10,30,0,10,0,False
2,2019-02-10,30,20,0,0,0,False
3,2019-02-11,9,13,0,0,0,False
4,2019-02-12,13,18,0,9,0,False

In [163]:
pytrends = TrendReq(hl='en-US', tz=360)
queries_list = ['Uddhav Thackeray', 'N. Chandrababu Naidu', 'K. Chandrashekar Rao', 'Sitaram Yechury']
queries_list
pytrends.build_payload(queries_list, timeframe='today 3-m', geo='IN', gprop='news')
Party_Leader2 = pytrends.interest_over_time()
Party_Leader2.reset_index(level=0, inplace=True)
Party_Leader2.head()

,date,Uddhav Thackeray,N. Chandrababu Naidu,K. Chandrashekar Rao,Sitaram Yechury,isPartial
0,2019-02-08,0,0,0,0,False
1,2019-02-09,0,0,0,0,False
2,2019-02-10,0,0,0,0,False
3,2019-02-11,0,0,0,0,False
4,2019-02-12,0,0,0,0,False

In [164]:
# Merge Party_Leader1 and Party_Leader2
Party_Leader = pd.merge(Party_Leader1, Party_Leader2, how = 'outer' )
Party_Leader = Party_Leader.drop(['isPartial'], axis = 1)
Party_Leader = Party_Leader.set_index('date')

In [165]:
Party_Leader = Party_Leader.transpose()
code = ['BJP', 'INC', 'AIADMK', 'AITC', 'BJD', 'SHS', 'TDP', 'TRS', 'CPI(M)']
Party_Leader['Code'] = code
Party_Leader = Party_Leader.set_index('Code')
Party_Leader.to_csv('Party_Leader_Ratings_googleTrends.csv')
Party_Leader

date,2019-02-08 00:00:00,2019-02-09 00:00:00,2019-02-10 00:00:00,2019-02-11 00:00:00,2019-02-12 00:00:00,2019-02-13 00:00:00,2019-02-14 00:00:00,2019-02-15 00:00:00,2019-02-16 00:00:00,2019-02-17 00:00:00,...,2019-04-26 00:00:00,2019-04-27 00:00:00,2019-04-28 00:00:00,2019-04-29 00:00:00,2019-04-30 00:00:00,2019-05-01 00:00:00,2019-05-02 00:00:00,2019-05-03 00:00:00,2019-05-04 00:00:00,2019-05-05 00:00:00
Code,,,,,,,,,,,,,,,,,,,,,
BJP,9,10,30,9,13,13,12,52,39,34,...,50,20,66,18,28,15,19,27,21,21
INC,22,30,20,13,18,9,16,19,12,21,...,20,20,38,18,24,35,19,27,21,47
AIADMK,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
AITC,9,10,0,0,9,9,8,0,8,9,...,10,0,0,0,0,0,0,9,0,0
BJD,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
SHS,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
TDP,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
TRS,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
CPI(M),0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [166]:
# Merge Party_group1 and Party_group2
Party_Group = pd.merge(Party_group1, Party_group2, how = 'outer' )
Party_Group = Party_Group.drop(['isPartial'], axis = 1)

Party_Group = Party_Group.set_index('date')
Party_Group = Party_Group.transpose()
code = ['BJP', 'INC', 'AIADMK', 'AITC', 'BJD', 'SHS', 'TDP', 'TRS', 'CPI(M)']
Party_Group['Code'] = code
Party_Group = Party_Group.set_index('Code')
Party_Group.to_csv('Party_Rating_googleTrends.csv')
Party_Group

date,2019-02-08 00:00:00,2019-02-09 00:00:00,2019-02-10 00:00:00,2019-02-11 00:00:00,2019-02-12 00:00:00,2019-02-13 00:00:00,2019-02-14 00:00:00,2019-02-15 00:00:00,2019-02-16 00:00:00,2019-02-17 00:00:00,...,2019-04-26 00:00:00,2019-04-27 00:00:00,2019-04-28 00:00:00,2019-04-29 00:00:00,2019-04-30 00:00:00,2019-05-01 00:00:00,2019-05-02 00:00:00,2019-05-03 00:00:00,2019-05-04 00:00:00,2019-05-05 00:00:00
Code,,,,,,,,,,,,,,,,,,,,,
BJP,8,33,5,25,29,33,43,7,18,4,...,33,56,31,51,31,28,22,34,38,5
INC,8,14,0,29,13,16,8,4,11,20,...,33,19,26,26,13,14,27,8,0,0
AIADMK,0,0,0,0,4,4,4,0,0,0,...,0,0,0,0,0,0,0,0,0,10
AITC,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
BJD,0,0,0,0,0,0,0,0,0,0,...,0,0,5,0,0,0,0,0,0,0
SHS,21,0,0,0,0,0,100,18,0,0,...,24,0,0,0,0,0,0,21,0,0
TDP,0,0,0,0,0,0,0,0,0,0,...,0,0,0,22,0,0,0,0,0,0
TRS,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,23,0,0,0,0,0
CPI(M),0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0